* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow: hidden;
}

div {
	width: 100px;
	height: 100px;
}

.one {
	background: red;
}

.two {
	background: green;
}

.three {
	background: blue;
}

.four {
	background: pink;
}