* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

##title {
	width: 700px;
	margin: 100px auto;
}

.box {
	background-color: purple;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	font-size: 12px;
}