.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* nesting */
.swiper3 {
  .swiper-button-prev:after,
  .swiper-button-next:after {
    color: aqua;
    font-size: 4em;
    content:"A";
  }
  .swiper-pagination-bullet{
    width: 50px;
    border-radius: 0;
    height: 10px;
    border-left: none;
    border-right: none;
    margin: 0 -2px !important;
  }
  .swiper-pagination-bullet-active{
    background-color: red;
    
  }
}
