/* 외부 스타일 시트 작성하기 */
h1 {
  color: rgb(71, 177, 39);
  background-color: beige;
  padding: 15px;
}
/* 관계선택자 */
/* 자식 */
body>h1{
  color: orange
  ;
}
h1>span{background-color: yellow;}

/* 자손 */
body span {
  background-color: blue;
font-size: 100px;

}

p > span {color: white;}
/* 형제 */
/* h1 + p {  +는 바로 밑에 줄만*/
/* h1 ~ p { ~은 전부다 */
h1~p{
  background-color: pink;
 
}
 
p~p span{font-size: 10px;}

