
@charset "UTF-8";
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #333;
}
li{list-style: none;}
.tab-wrapper{
  max-width: 960px;
  margin: auto;
  background: ivory;
}
.tab-menu{
  display: flex;
  background: #ededed;
  gap: 10px;
}
.tab-menu a{
  display: block;
  color: #999;
  font-size: 24px;
  padding: 10px 20px;
}
.tab-menu a.active{
  background-color: black;
  color: white;
}
.tab-content{
  position: relative;
  min-height: 300px;

}
.tab-content>div{
  position: absolute;
  background: rgba(255,255,255,.5);
  top: 0;
  left: 0;
  padding: 1em;
  display: none;
}
.tab-content>div.active{
  display: block;
}
